.black-bg {
    background-color: var(--color-black);
}

.white-bg {
    background-color: var(--color-white);
}

.darkgrey-bg {
    background-color: var(--color-darkgrey);
}

.grey-bg {
    background-color: var(--color-grey);
}

.lightblue-bg {
    background-color: var(--color-lightblue); 
}

.blue-bg {
    background-color: var(--color-blue);
}

.pink-bg {
    background-color: var(--color-pink);
}

.f-white {
    color: var(--color-white);
}

.f-black {
    color: var(--color-black);
}

.f-blue {
    color: var(--color-blue);
}

.f-pink {
    color: var(--color-pink);
}

.f-darkgrey {
    color: var(--color-darkgrey);
}

.border-black {
    border: .2rem solid var(--color-black); 
}